<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to image_tag('logo.png'), root_path, class: "brand" %>
      <div class="nav-collapse collapse">
        <%= form_tag products_path, method: 'get', class: 'navbar-search pull-left' do %>
          <%= text_field_tag :q, params[:q], class: 'search-query', placeholder: 'Search' %>
        <% end %>
        <ul class="nav pull-left">
          <li><%= link_to "<i class=\"icon-question-sign icon-white link-icon\"></i> F.A.Q.s".html_safe, faq_path %></li>
          <li><%= link_to "<i class=\"icon-plus icon-white link-icon\"></i> New Product".html_safe, new_product_path, :'data-toggle' => 'popover', :'data-content' => 'Cant find the product you want to create a review or question for? Find it here.', :'data-original-title' => "Find Products We Don't Have", id: 'headerPop' %></li>
        </ul>
        <ul class="nav pull-right header-user-ul">
        <% if user_signed_in? %>
          <li class="tag-percent"><%= current_user.amazon_tag_percent %>%</li>
          <li class="dropdown" id="navbar-user-avatar">
            <a class="dropdown-toggle"
               data-toggle="dropdown"
               href="#">
                <%= image_tag avatar_url(current_user, 32) %>
                <b class="caret"></b>
              </a>
            <ul class="dropdown-menu">
              <li><%= link_to "My Profile", user_path(current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: "delete" %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to '<i class="icon-plus-sign icon-white link-icon"></i> Sign Up'.html_safe, new_user_registration_path %></li>
          <li><%= link_to '<i class="icon-off icon-white link-icon"></i> Sign In'.html_safe, new_user_session_path %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>


