<div class="row">
  <div class="span3">
    <ul class="nav nav-list faq-nav data-spy="affix" data-offset-top="50"">
      <li><%= link_to "How vote scoring works<i class=\"icon-chevron-right\"></i>".html_safe, '#' %></li>
      <li><%= link_to "I think someone's cheating<i class=\"icon-chevron-right\"></i>".html_safe, '#' %></li>
      <li><%= link_to "Products not on amazon<i class=\"icon-chevron-right\"></i>".html_safe, '#' %></li>
      <li><%= link_to "The Amazon affiliate program<i class=\"icon-chevron-right\"></i>".html_safe, '#' %></li>
      <li><%= link_to "Getting paid<i class=\"icon-chevron-right\"></i>".html_safe, '#' %></li>
      <li><%= link_to "Increasing my referral rate<i class=\"icon-chevron-right\"></i>".html_safe, '#' %></li>
      <li><%= link_to "My referral link isn't showing<i class=\"icon-chevron-right\"></i>".html_safe, '#' %></li>
      <li><%= link_to "Amazon commission percentages<i class=\"icon-chevron-right\"></i>".html_safe, '#' %></li>
    </ul>
  </div>
  <div class="span9">
    Test
  </div>
</div>
